*, body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 0.5fr 4fr;
}

/* --- HEADER --- */

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 3;
    background-color: white;
}

/* --- SIDE BAR --- */

.sidebar ul {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

.sidebar ul li {
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sidebar ul li svg {
    fill: white;
    width: 1.3rem;
    height: 1.3rem
}

.sb-dashboard{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
    padding-left: calc(2rem + 1.3rem / 2 - 2.2rem / 2);
    display: flex;
    align-items: center;
    gap: calc(1rem - 1.3rem / 2);
}

.sb-dashboard svg {
    fill: white;
    width: 2.2rem;
    height: 2.2rem;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: #51a6f0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2.25fr 2.25fr;
}

.sb-dashboard {
    grid-row: 1 / 2;
    align-content: center;
}

.sb-links {
    grid-row: 2 / 3;
}

.sb-support {
    grid-row: 3 / -1;
}

/* ---CONTENT --- */

.content {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    background-color: grey;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-content {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: yellow;
}

.side-content {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    background-color: red;
}