:root {
    --teal-color: #51a6f0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

/* --- HEADER --- */

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    background-color: white;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header-search {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-search input {
    width: 90%;
    height: 1.5rem;
    border-radius: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: rgb(221, 221, 221);
    border: none;
}

.header-search svg {
    flex-shrink: 0;
    height: 1.5rem;
    width: 1.5rem;
    fill: rgb(92, 91, 91);
}

.header-profile {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header-profile svg {
    height: 1.5rem;
    width: 1.5rem;
}

.header-profile img {
    height: 3rem;
    width: 3rem;
}

.header-profile p {
    font-weight: 500;
}

.header-greeting {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.header-greeting-icon {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    height: 4rem;
    width: 4rem;
    justify-self: center;
    align-self: center;
}

.header-greeting-hello {
    font-size: 0.75rem;
    font-weight: 600;
    justify-self: start;
    align-self: end;
}

.header-greeting-name {
    font-size: 1.75rem;
    font-weight: 700;
    justify-self: start;
    align-self: start;
}

.header-greeting-hello {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
}

.header-greeting-name {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}

.header-buttons {
    grid-row: 2 / -1;
    grid-column: 2 / - 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.header-buttons button {
    border-radius: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 6rem;
    background-color: var(--teal-color);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

.header-buttons button:hover {
    background-color: #a2caec;
}

.header-buttons button:active {
    border: 1px solid black;
}

/* --- SIDE BAR --- */

/* user flexbox to align text with svg images */

.sidebar ul {
    list-style-type: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

.sidebar ul li {
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sidebar ul li svg {
    fill: white;
    width: 1.3rem;
    height: 1.3rem
}

.sb-dashboard{
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
    padding-left: calc(2rem + 1.3rem / 2 - 2.4rem / 2);
    display: flex;
    align-items: center;
    gap: calc(1rem - 1.3rem / 2);
}

.sb-dashboard svg {
    fill: white;
    width: 2.4rem;
    height: 2.4rem;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: var(--teal-color);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.2fr 2.15fr 2.5fr;
}

.sb-dashboard {
    grid-row: 1 / 2;
    align-content: center;
}

.sb-links {
    grid-row: 3 / 4;
}

.sb-support {
    grid-row: 4 / -1;
}

/* ---CONTENT --- */

.content {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: grey;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-content {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: yellow;
}

.side-content {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    background-color: red;
}